build/
scripts/.venv/
# vcpkg will be installed by setup.bat - do not track
external/vcpkg/
data/
test/configs/
test/data/
# configsディレクトリ内のファイルを除外しつつ、サンプルファイルのみトラック
configs/**
!configs/
!configs/3D_crtbp_SALI/
!configs/3D_crtbp_SALI/3DSALIconfig_sample.toml
!configs/asteroid_orbit_intersection/
!configs/asteroid_orbit_intersection/intersection_config_sample.toml
!configs/astro_param/
!configs/astro_param/astro_param.txt
!configs/chaos_indicator/
!configs/chaos_indicator/chaos_indicator_config.toml
!configs/impulse_orbit_search/
!configs/impulse_orbit_search/impulse_orbit_search_config_sample.toml
!configs/orbit_manifold_jacobi/
!configs/orbit_manifold_jacobi/config.toml
!configs/poincare_map/
!configs/poincare_map/poincare_map_config_sample.toml
!configs/stable_manifold/
!configs/stable_manifold/stable_manifold_config.toml
!configs/trajectory_calc/
!configs/trajectory_calc/trajectory_calc_config_sample.toml
!configs/trajectory_SALI/
!configs/trajectory_SALI/trajectory_sali_config_sample.toml